.contacts-person__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.contacts-person__title {
  margin-bottom: 15px;
}

.contacts-person__item:first-child {
  margin-bottom: 12px;
}

.contacts-person__label {
  display: block;
  margin-left: 21px;
  margin-bottom: 10px;
  .font-view(normal;uppercase;14px;26px);
  color: @basic-light-black;
  white-space: nowrap;
  align-self: center;
}

.contacts-person__wrapper-input {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 100%;

  &::after {
    content: "";
    display: block;
    width: 58px;
    background-color: @special-grey;
    background-image: url("../img/icon-mail.svg");
    background-position: 22px 19px;
    background-repeat: no-repeat;
    background-size: 18px center;
  }
}

.contacts-person__wrapper-input--tel {
  &::after {
    background-image: url("../img/icon-phone.svg");
    background-size: 18px 18px;
  }
}

@media (min-width: @tablet-width) {
  .contacts-person__list {
    margin-bottom: 50px;
  }

  .contacts-person__item:first-child {
    margin-bottom: 21px;
  }

  .contacts-person__title {
    margin-bottom: 21px;
  }

  .contacts-person__label {
    margin-left: 22px;
    margin-bottom: 9px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-person__list {
    display: flex;
    text-align: start;
    margin-bottom: 51px;
  }

  .contacts-person__title {
    margin-bottom: 73px;
  }

  .contacts-person__label {
    margin: 0;
    margin-right: 15px;
  }

  .contacts-person__item {
    margin: 0;
    display: flex;
    width: 50%;

    &:first-child {
      padding-right: 80px;
      margin: 0;
    }
  }

  .contacts-person__label span {
    display: none;
  }
}
