.form-review__item {
  padding: 20px 19px 0;
  border: none;
  border-top: 1px solid @hover-grey;
}

.form-review__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: "PT Sans bold", "Arial", sans-serif;
  .font-view(bold;uppercase;18px;26px);
}

.form-review__submit {
  display: block;
  padding: 19px 0 14px;
  width: 280px;
}

.form-review__block-down {
  width: 100%;
  padding: 0 20px;
  display: flex;
  margin-bottom: 46px;
}

.form-review__mark {
  display: none;
  .font-view(normal;none;14px;26px);
  color: @basic-light-black;
}

@media (min-width: @tablet-width) {
  .form-review {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    margin-bottom: 19px;
  }

  .form-review__title {
    text-align: center;
    position: relative;
    font-size: 21px;
    line-height: 26px;

    &::after {
      content: "";
      position: absolute;
      width: 19%;
      height: 1px;
      background-color: @dash-color;
      right: 0;
      top: 40%;
    }

    &::before {
      content: "";
      position: absolute;
      width: 19%;
      height: 1px;
      background-color: @dash-color;
      left: 0;
      top: 40%;
    }
  }

  .form-review__item {
    border: none;
    padding: 0;

    &--person {
      width: 50%;
      margin: 0;
    }

    &--contacts-person {
      width: 100%;
      margin: 0;
    }

    &--impressions {
      order: -1;
      width: 50%;
      margin: 0;
    }

    &--visits {
      width: 100%;
      margin: 0;
    }

    &--review-block {
      width: 100%;
      margin: 0;
    }
  }

  .form-review__title--right-position {
    padding: 0;
    text-align: start;
    margin-bottom: 58px;

    &::after,
    &::before {
      display: none;
    }
  }

  .form-review__block-down {
    padding: 0;
    margin-bottom: 48px;
  }

  .form-review__submit {
    padding-right: 16px;
    width: 324px;
    margin: 0;
  }

  .form-review__mark {
    margin: 0;
    margin-top: 18px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    display: block;
    width: 50%;
    text-align: end;
  }
}

@media (min-width: @desktop-width) {
  .form-review {
    padding: 0 120px;
    margin-bottom: 24px;
  }

  .form-review__title--right-position {
    padding-left: 79px;
  }

  .form-review__submit {
    padding-right: 0;
    width: 480px;
  }

  .form-review__title {
    &::after,
    &::before {
      width: 29%;
    }
  }
}
