.input {
  border: 4px solid transparent;
  min-width: 150px;
  min-height: 58px;
  padding: 10px 22px 6px 20px;
  font-family: "PT Sans bold", "Arial", sans-serif;
  .font-view(normal;none;18px;26px);
  background-color: @special-light-grey;
  outline: none;

  &:hover {
    background-color: @hover-grey;
    cursor: pointer;
  }

  &:focus {
    padding: 10px 22px 6px 20px;
    border: 4px solid @hover-grey;
    background-color: @basic-white;
  }
}

.input--warning {
  border: 4px solid red;
}
