.item-photo {
  border: green solid 2px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.item-photo__img {
  order: -1;
  margin-bottom: 15px;
}

.item-photo__heading {
  .font-view(bold);
  margin-bottom: 12px;
}

.item-photo__text {
  .font-view(normal;none);
}
