.item-photo {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.item-photo__img {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 9px;


  & img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

.item-photo__heading {
  margin: 0;
  font-family: "PT Sans bold", "Arial", sans-serif;
  .font-view();
  margin-bottom: 2px;
}

.item-photo__text {
  .font-view(normal;none);
  color: @basic-light-black;
  margin: 0;
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .item-photo__img {
    height: 267px;
    margin-bottom: 0;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .item-photo:first-child .item-photo__img {
    height: 400px;
  }

  .item-photo__heading {
    margin: 0;
  }

  .item-photo__text {
    margin: 0;
  }

  .item-photo__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80px;
    padding: 15px 20px 15px;
  }

  .item-photo__like {
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .item-photo__wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80px;
    padding: 15px 20px;
    background-color: fade(@basic-black, 30%);
    color: @basic-white;

    .item-photo__text {
      color: @basic-white;
    }
  }
}
