.like {
  position: static;
}

.like__button {
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.like__number {
  .font-view (bold);
}
