.like {
  display: flex;
  align-items: flex-start;
}

.like__button {
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.like__number {
  .font-view (bold);
  margin-top: 3px;
}

@media (min-width: @tablet-width) {
  .like__button {
    margin-right: 10px;
  }
}
