.main-video {
  margin-bottom: 105px;
  padding: 0;
  text-align: center;
}

.main-video__heading {
  padding: 0 20px;
  margin-bottom: 29px;
  .font-view(bold;uppercase;18px;26px);
}

.main-video__text {
  padding: 0 35px;
  margin-bottom: 33px;
  .font-view(normal;uppercase;14px;24px);
  color: @basic-light-black;
}

.main-video__img {
  object-fit: cover;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-video__turntable {
  position: relative;
}

.main-video__control {
  position: absolute;
}

@media (min-width: @tablet-width) {
  .main-video {
    padding: 0 60px;
    margin-bottom: 40px;
  }

  .main-video__turntable {
    width: 100%;
  }

  .main-video__img {
    height: 498px;
  }

  .main-video__heading {
    font-family: "PT Sans bold", "Arial", sans-serif;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 34px;
  }

  .main-video__text {
    margin-bottom: 80px;
    padding: 0 100px;
  }
}

@media (min-width: @desktop-width) {
  .main-video {
    padding: 0 200px;
    margin-bottom: 88px;
  }

  .main-video__text {
    margin-bottom: 75px;
    padding: 0 170px;
  }

  .main-video__turntable {
    width: 800px;
    margin: auto;
  }

  .main-video__img {
    height: 498px;
  }
}
