.page-footer {
  text-align: center;
  padding: 30px 25px 26px;
}

.page-footer__contacts {
  margin: 0;
  .font-view (normal;uppercase;21px;26px);
  margin-bottom: 35px;
}

.page-footer__social {
  margin-bottom: 33px;
}

.page-footer__copyright {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    min-height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 52px 30px 61px;
  }

  .page-footer__social,
  .page-footer__contacts {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 20px 115px 32px 119px;
  }

  .page-footer__social,
  .page-footer__contacts {
    margin: 0;
  }
}
