.page-header {
  position: relative;
  padding-bottom: 56px;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  margin-left: -51px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    top: 0;
  }

  .page-header {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    margin-left: -93px;

    & img {
      width: 186px;
      height: 96px;
    }
  }
}
