.person {
  position: static;
}

.person__list {
  list-style: none;
  padding: 0;
}

.person__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
  margin-bottom: 20px;
}

.person__label {
  .font-view(normal;uppercase;14px;26px);
  color: @basic-light-black;
  margin-right: 13px;
  margin-top: 25px;
}

@media (min-width: @tablet-width) {
  .person .form-review__title {
    text-align: start;
    margin-bottom: 50px;
  }
}
