.social {
  margin-top: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.social__item {
  margin-right: 6px;
}

.social__link {
  display: block;
  width: 47px;
  height: 48px;
  background-color: @basic-blue;

  &--twitter::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--twitter:hover::after {
    background-color: @hover-blue;
    cursor: pointer;
  }

  &--twitter:active::after {
    background-color: @active-blue;
    opacity: 0.3;
    cursor: pointer;
  }

  &--facebook::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/icon-facebook.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--facebook:hover::after {
    background-color: @hover-blue;
    cursor: pointer;
  }

  &--facebook:active::after {
    background-color: @active-blue;
    opacity: 0.3;
    cursor: pointer;
  }

  &--youtube::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/icon-youtube.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--youtube:hover::after {
    background-color: @hover-blue;
    cursor: pointer;
  }

  &--youtube:active::after {
    background-color: @active-blue;
    opacity: 0.3;
    cursor: pointer;
  }
}
