.social {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 40px;
}

.social__link {
  display: block;
  width: 48px;
  height: 46px;
  background-color: @basic-blue;
}
