.visits {
  padding: 15px 18px 0;
}

.visits__list {
  list-style: none;
  padding: 0;
  margin-bottom: 23px;
}

.visits__item {
  margin-bottom: 25px;
}

.visits__item:last-child {
  margin: 0;
}

.visits__label {
  display: flex;
  align-items: center;
  white-space: nowrap;
  .font-view(bold;none;18px;26px);
}

.visits__input + .visits__label::before {
  content: "";
  display: block;
  margin-right: 23px;
  width: 56px;
  height: 56px;
  border-radius: 10%;
  background-color: @special-light-grey;
}

.visits__input:checked + .visits__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.visits__input:checked:hover + .visits__label::before,
.visits__input:hover + .visits__label::before {
  background-color: @hover-grey;
  cursor: pointer;
}

.visits__input:checked:focus + .visits__label::before,
.visits__input:focus + .visits__label::before {
  background-color: @basic-dark-grey;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .visits {
    padding: 0;
  }

  .visits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 95px;
    margin-bottom: 37px;
  }

  .visits__title {
    margin-bottom: 43px;

    &::after,
    &::before {
      top: 50%;
    }
  }

  .visits__item {
    display: block;
    width: 43%;
    margin: 0;
    margin-bottom: 33px;
  }
}

@media (min-width: @desktop-width) {
  .visits__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 68px;
  }

  .visits__label {
    justify-content: center;
  }

  .visits__item {
    width: 22%;
    margin: 0;

    &:nth-child(4n+1) .visits__label {
      justify-content: flex-start;
    }

    &:nth-child(4n) .visits__label {
      justify-content: flex-end;
    }
  }
}
