.voucher {
  text-align: center;
}

.voucher__block {
  padding: 17px 20px 0;
}

.voucher__heading {
  font-family: "PT Sans bold", "Arial", sans-serif;
  margin-bottom: 20px;
  .font-view(bold;uppercase;21px;26px);
}

.voucher__text {
  margin-bottom: 29px;
  .font-view(normal;uppercase;14px;24px);
  color: @basic-light-black;

  & br {
    display: none;
  }
}

.voucher__button {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 49px;
}

@media (min-width: @tablet-width) {
  .voucher__block {
    padding-top: 30px;
  }

  .voucher__button {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    width: 458px;
    margin-bottom: 58px;
  }

  .voucher__text {
    padding: 0 130px;
    margin-bottom: 37px;

    & br {
      display: block;
    }
  }

  .voucher__heading {
    font-size: 30px;
    line-height: 26px;
    padding: 0 170px;
    margin-bottom: 34px;
  }
}

@media (min-width: @desktop-width) {
  .voucher__block {
    padding-top: 30px;
  }

  .voucher__text {
    padding: 0 350px;
    margin-bottom: 44px;
  }

  .voucher__heading {
    padding: 0 400px;
  }

  .voucher__button {
    margin-bottom: 65px;
  }
}
