.voucher {
  text-align: center;
}

.voucher__block {
  padding: 35px 20px 0;
}

.voucher__heading {
  margin-bottom: 33px;
  .font-view(bold;uppercase;21px;26px);
}

.voucher__text {
  margin-bottom: 33px;
  .font-view(normal;uppercase;14px;24px);
  color: @basic-light-black;
}

.voucher__button {
  margin-bottom: 49px;
}
